

{% extends 'base.twig' %}
{% block content %}


  <script src="/views/js/accueilConnection.js"> </script>


<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        
        <h2> Bienvenue  {{ user.getNom}} </h2>

    </div> 
</div> 


<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        
    
        <h2> Vos Informations </h2>



        <form >
            <div>
                <input id="idUser" name="idUser" type="hidden" value="{{user.getId}}" >
                <label for="name">Nom :</label>
                <input type="text" id="nom" name="name" value="{{user.getNom}}" placeholder="nom" >
            </div>
            <div>
                <label for="prenom"> Prénom :</label>
                <input type="text" id="prenom" name="prenom" value="{{user.getPrenom}}" placeholder="prenom">
            </div>
            <div>
                <label for="mail">Mail :</label>
                <input  type="text" id="mail" name="mail" value="{{user.getMail}}" placeholder="mail" >
            </div>
            <div class="button">
                <a  id="bouttonModification" > Modifier  </a>  
            </div>

        </form>

 
    </div> 
</div> 




<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">   
    
        <h2> Modifiez votre mot de passe </h2>
        <form >
            <div>
                <label for="mdp1">Mot de Passe :</label>
                <input  type="text" id="mdp1" name="mdp1"  placeholder="mdp" >
            </div>
            <div>
                <label for="mdp2"> Retaper votre mot de passe :</label>
                <input  type="text" id="mdp2" name="mdp2"  placeholder="mdp" >
            </div>
            <div class="button">
                <a  id="bouttonModificationMDP" > Modifier  </a>  
            </div>
        </form>
    </div> 
</div> 



<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        
        <h2> Vos Albums  </h2>


       {% for album in user.getAlbums %}
            {{ album.getNom }}
            {{ album.getAffiche }}
        {% endfor %}

 
    </div> 
</div> 


<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        
    
        <h2> Ajouter un albums </h2>

        <form >
            <div>
                <label for="nomAlbum">Nom Album :</label>
                <input type="text" id="nomAlbum" name="nomAlbum"  placeholder="nom Album" >
            </div>
        
            <div class="button">
                <a  id="bouttonAjoutsAlbum" > Ajouter  </a>  
            </div>

        </form>

  
 
    </div> 
</div> 


        


   

    
  




    {% endblock %}